@use 'mixin' as mx;
@use 'variable' as var;

.header {
  @include mx.size;
  background-color: var.$navy;
  
  &__inner {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
  }

  @each $name in var.$classNames {
    $index_key: index(var.$classNames, $name);
  
    .#{$name} {
      background-color: nth(var.$buttonColor, $index_key);
      @include mx.size($height: 40px, $width: 40px);
      border: 10px solid var.$white;

      &:not(:first-child) {
        border-left: 0;
      }
    }
  }
}

.main__content {
  display: flex;
}

.sidebar {
  @include mx.size($height: 250px, $width: 150px);
  background-color: var.$green;
}

.main {
  @include mx.size($height: 250px, $width: 250px);
  background-color: var.$red;
  display: flex;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
  }

  @each $name in var.$classNames {
    $index_key: index(var.$classNames, $name);

    .#{$name} {
      background-color: nth(var.$buttonColor, $index_key);
      @include mx.size($height: 40px, $width: 140px);
      border: 5px solid var.$white;
    }
  }
}

.footer {
  @include mx.size;
  background-color: var.$brown;
}