@use 'variable' as var;

.test {
  color: var.$color-text;
}

.inner {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ↓ここに処理を書く↓ */
$maxWidth: 1000px;
$brandColor: #cd6799;


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 10px 0;

  h1 {
    text-align: left;
  }

  &__logo {
    width: 80px;
  }

  &__list {
    display: flex;

    & > li {
      margin-left: 30px;

      &:first-child {
        margin-left: 0;
      }
    }

    &__link {
      text-decoration: none;
      color: #666;
      font: {
        size: 16px;
        weight: bold;
      }

      &:hover {
        color: $brandColor;
      }
    }
  }
}

@mixin btn($color) {
  display: block;
  padding: 20px 30px;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  background-color: $color;
  text: {
    decoration:none;
    align:center;
  }
}

.footer {
  padding: 70px 0;

  &__sns {
    &__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      & > li {
        width: 32%;

        &:nth-child(n+4) {
          margin-top: 20px;
        }
      }
    }

    &__btn {
      &.is-facebook {
        @include btn(#4668b3);
      }
    }
  }
}

@for $i from 1 through 4 {
  .mt#{$i * 5} {
    margin-top: #{$i * 5}px;
  }
}
//.mt5 { margin-top: 5px; }
// .mt10 { margin-top: 10px; }
// .mt15 { margin-top: 15px; }
// .mt20 { margin-top: 20px; }

$配列A: 値, 値, 値;
$配列B: 値, 値, 値;

ul {
  & > li {
    @each $変数A in $配列A {
      $index_key: index($配列A, $変数A); //index取得

      &.list_#{$変数A} {
        a {
          color: nth($配列B, $index_key);
        }
      }
    }
  }
}